
/*手機375*/
@media (min-width: 375px) {


    

    .container {
        width: 375px;
    }


    
    .nav li {
        display: block;
    }
    
    
    .logo {
        margin-right: auto;
        width: 170px;
        height: 28px;
        margin-top: 0px;  
        margin-left: 5px;
    }
    .logo a {
        display: block;
        width: 170px;
        height: 28px;
        font-size: 0;
        background: url(../img/petapp/logo\ long.png) no-repeat;
        background-size: 170px 28px;
    }
   
    .footer-bd {
        height: 165px;
        background-color: #fafafa;
          
    }
   

}

/*平版768*/
@media (min-width:768px){
    .container {
        width: 768px;
    }
    .mainnav {
        height: 120px;
        justify-content: space-between;
    }
    .logo {
        margin-right: auto;
        width: 200px;
        height: 50px;
        margin-top: 50px;  
        padding-left: 30px;
    }
    .logo a {
        display: block;
        width: 200px;
        height: 50px;
        font-size: 0;
        background: url(../img/petapp/logo\ long.png) no-repeat;
        background-size: 200px 50px;
    }
   
    .footer-bd {
        height: 200px;
        background-color: #fafafa;
          
    }
    
}
    
 




/*網頁1440*/

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
   
}

.mainnav {
    margin-top: 5px;
    height: 60px;
    justify-content: space-between;
    
    
   
}
header {
    position: fixed;
    background-color: #fff;
    z-index: 99990;
    width: 100%;
    
    top: 0;
}

.logo {
    
    width: 246px;
    height: 60px;
    margin-right: auto;
   
    
    
}

.logo a {
    display: block;
    width: 246px;
    height: 60px;
    font-size: 0;
    background: url(../img/petapp/logo\ long.png) no-repeat;
    background-size: 246px 50px;
    
}

.nav {
    width: 100%;
    display: flex;
    margin-top: 40px;
    padding: 0 20px;
}
.nav ul {
    display: flex;
    margin-left: auto;
    margin-top: -90px;
    padding-right: 10px;
}
.nav li {
    list-style: none;
    padding-inline: 10px;
    
}

.nav li a {
    display: inline-block;
    padding-inline: 6px;
    padding-block: 8px;
    text-decoration: none;
    color: #a0a1a3;
}

.nav-link {
    margin: 0 20px;
}

.a1:hover {
    border-bottom: 3px solid #ffed5c;
    color:black
}
.a2:hover {
    border-bottom: 3px solid #235EB7;
    color:black
}
.a3:hover {
    border-bottom: 3px solid #F35D53;
    color:black
}
.a4:hover {
    border-bottom: 3px solid #ffed5c;
    color:black
}



/*footer*/
.footer-bd {
    height: 464px;
    background-color: #fafafa;
    
    
}
.contact {
    
    color:#a0a1a3;
    text-align: center;
}
.contact1 {
    padding-top: 150px;
    font-weight: 700;
    
}
.copyright {
    padding-top: 40px;
    color:#a0a1a3;
    font-size: 14px;
    text-align: center;
    
}

.copyright p {
    margin-bottom: 15px;

}

.copyright p a {
    color: #a0a1a3;
    padding: 0 8px;
    text-decoration: none;
}

.copyright p a:hover {
    color:black
}



/*
html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    height: 70px;
    line-height: 70;
    background-color: #fff;
    position: fixed;
}

section {
    width: 100%;
    height: 100vh;
}

#about {

}

id="to"
a href= id""*/

