

/*手機375*/
@media (min-width: 375px) {
    .container {
        width: 375px;
    }
     .entry {
        padding-top: 30px;
        height: auto;

    }

    .banner {

        height: 100%;
        background-color: #fff;
        color: #a0a1a3;
        text-align: center;
        padding: 0px;
        margin: 20vw 0px;
        
    }

    .banner:hover {
        color: #000000

    }

    .box {
        
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .box ul {
        margin-right: auto;
        margin-left: auto;
        padding: 0px;
        text-align: center;
        
    }


    .box-bd {
        height: auto;
        width:auto;
        margin-right: auto;
        margin-left: auto;
    }

    .box-bd ul li {
        display: inline-block;

        position: relative;
        top: 0;
        width: 375px;
        height: 430px;
        text-align: left;
        transition: all .3s;
        list-style: none;
        margin-bottom: 10px;

    }

    /* li:nth-child(2) {
        margin-left: auto;
    } */


    .box .box-bd ul li {
        background-color: #fff;
    }

    .box-bd ul li:hover {
        top: -3px;
        box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    }


    .box-bd ul li img {
        width: 100%;
        height: 325px;
    }

    .box-bd ul li h4 {
        margin: 5px 0px 10px 0;
        padding-left: 15px;
        font-size: 20px;
        font-weight: 900;
        color: #000000
    }

    .box-bd ul li span {
        display: block;
        padding-left: 15px;
        font-size: 17px;
        color: #000000
    }



    .box-bd ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }








}

/*平版768*/
@media (min-width:768px) {
   
    .container,
    .container-md,
    .container-sm {
        max-width: 1200px;
    }
    .div.container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
      }
      .container .div {
        display: inline-block;
        text-align: left;
      }
    .entry {
        padding-top: 50px;
        height: auto;
    }

    .banner {

        height: 100%;
        background-color: #fff;
        color: #a0a1a3;
        text-align: center;
        padding: 0px 100px;
        margin: 5vw 0px;
    }

    .banner:hover {
        color: #000000
    }

    .box {
        width: auto;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        

    }

    .box ul {
      margin: 0 auto;
      padding: 0px;
      align-items: center;
    }
        


    .box-bd {
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .box-bd ul li {
        display: inline-block;

        position: relative;
        top: 0;
        width: 350px;
        height: 420px;
        text-align: left;
        transition: all .3s;
        list-style: none;

    }

    /* li:nth-child(2) {
        margin-left: auto;
    } */
    .box {
        
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .box .box-bd ul li {
        background-color: #fff;
    }

    .box-bd ul li:hover {
        top: -3px;
        box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    }


    .box-bd ul li img {
        width: 350px;
        height: 300px;
    }

    .box-bd ul li h4 {
        margin: 5px 0px 10px 0;
        padding-left: 15px;
        font-size: 20px;
        font-weight: 900;
        color: #000000
    }

    .box-bd ul li span {
        display: block;
        padding-left: 15px;
        font-size: 17px;
        color: #000000
    }



    .box-bd ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
}

   




/*網頁1200*/
@media (min-width:1200px) {


    a.dropdown-toggle.a1 {
        position: relative;
        display: inline-block;
    }
    a.dropdown-toggle.a2 {
        position: relative;
        display: inline-block;
    }



    .container {
        width: 1200px;
        margin: auto;
    }
    .entry {
        padding-top: 20px;
        height: auto;

    }

    .banner {

        height: 100%;
        background-color: #fff;
        color: #a0a1a3;
        text-align: center;
        padding: 0px 300px;
        margin: 8vw 0px;
        
    }

    .banner:hover {
        color: #000000
    }

    .box {
        width: 1200px;
        height: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .box ul {
        margin-right: auto;
        margin-left: auto;
        padding: 0px;
        text-align: center;
    }


    .box-bd {
        height: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    .box-bd ul li {
        display: inline-block;

        position: relative;
        top: 0;
        width: 500px;
        height: 550px;
        text-align: left;
        transition: all .3s;
        list-style: none;

    }

    li:nth-child(2) {
        margin-left: auto;
    }


    .box .box-bd ul li {
        background-color: #fff;
    }

    .box-bd ul li:hover {
        top: -5px;
        box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    }


    .box-bd ul li img {
        width: 500px;
        height: 400px;
    }

    .box-bd ul li h4 {
        margin: 18px 0px 10px 0;
        padding-left: 20px;
        font-size: 20px;
        font-weight: 900;
        color: #000000
    }

    .box-bd ul li span {
        display: block;
        padding-left: 20px;
        font-size: 17px;
        color: #000000
    }



    .box-bd ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
}